#rodape{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5vh 0;
    background-color: var(--color-03);
    overflow: hidden;
    z-index: 2;
}

#rodape span{
    color: var(--color-01);
    font-weight: var(--fs-l);
    font-size: var(--fs2);
    text-align: center;
}

@media (max-width: 1400px) {
    #rodape{
        padding: 2.5vh 5%;
    }
    
}