#saiba{
    min-height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh 0;
    background-image: url(../img//banner_sobre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#saiba::after {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    inset: 0;
    background: #00000056;
}

.saiba-box{
    height: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 0;
    z-index: 2;
}

.saiba-box-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 5px;
    text-align: justify;

    color: var(--color-01);
    background: rgba(20, 20, 20, 0.822);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.116);

    z-index: 2;
}

.saiba-box-content h2{
    font-size: var(--h2);
    font-weight: ;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.saiba-btn{
    z-index: 2;
    padding: 0.7rem 1rem;
    color: var(--color-01);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.3s ease-in-out;
}

.saiba-btn:hover{
    transform: scale(1.1);
}

@media (max-width: 1400px) {
    #saiba{
        padding: 10vh 5% 5vh;
    }
}
