#sobre {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--color-03);
}

.sobre-box {
    width: var(--max-width);
    display: flex;
    flex-direction: row-reverse;
    align-items:end;
    justify-content: space-between;
    margin: auto;
}


.sobre-box-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 10vh 0;
}

.sobre-box-left h2 {
    font-family: var(--font-text);
    font-size: var(--h2);
    font-weight: var(--fs-b);
    color: var(--color-04);
    margin-bottom: 2.5rem;
}


.sobre-box-left h2 span{
    color: var(--color-02);
    font-size: var(--h2)}

.sobre-box-left p {
    text-align: justify;
    font-weight: var(--fs-l);
    font-size: var(--f1-font-size);
    color: var(--color-04);
}

.sobre-box-right {
    width: 45%;
    height: 65vh;
    overflow: hidden;
    position: relative;
}

/* .sobre-box-right::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.418);
} */

.sobre-box-right img{
    width: 100%;
    height: 100%;
    transition: 0.2s ease-out;
}



@media screen and (max-width: 1440px) {
    #sobre{
        padding: 0vh 5vw;
    }

    .sobre-box {
    width: 100%;
    }

    .sobre-box-left{
        margin: 5vh 0;
    }
}

@media screen and (max-width: 1070px) {
    .sobre-box {
        display: flex;
        flex-direction: column;
        /* gap: 2rem; */
    }

    .sobre-box-left {
        width: 100%;
        align-items: center;
    }

    .sobre-box-left h2 {
        text-align: left;
    }

    .sobre-box-right {
        width: 100%;
        height: 50vh;
        border-radius: none;
    }
}

@media screen and (max-width: 750px) {
    .sobre-box-right {
        width: 100%;
        height: 30vh;
    }
}